html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */
:root { 
  --red: #FF0000;
  --red-darken: #CC0000;
  --blue: #3B4CCA;
  --yellow: #FFDE00;
  --yellow-darken: #B3A125;
  --black: #121212;

  --screen-green: rgba(0, 150, 0, 0.75);
}

/* FONTS */
@font-face {
  font-family: 'Inconsolata';
  font-weight: 500;
  src: local('Inconsolata'), url('./../fonts/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 600;
  src: local('Inconsolata'), url('./../fonts/Inconsolata-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  src: local('Inconsolata'), url('./../fonts/Inconsolata-Bold.ttf') format('truetype');
}

html {
  font-size: 16px;
  font-family: Inconsolata, Roboto, sans-serif;
  color: #fff;
}

body {
  background-color: black;
  background-image: radial-gradient(
    var(--screen-green), var(--black) 200%
  );
  height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

